        Wait until your quiz host directs you to start any of these options.<br/><br/>
        <table>
          <tr><td>1.</td><td><a href="/quiz/restart">Take the DevSpaces Quiz</a></td></tr>
          <tr><td>2.</td><td><a href="/quiz/games">Play some games</a></td></tr>
        </table>
        <br/><br/><br/>

