This application is brought to you by EngineYard Kontainers<br/>
Over <b>10 years</b> providing an optimized, full-stack <b>Ruby on Rails</b> platform<br/>
Over <b>5 billion hours</b> clocked on AWS<br/><br/>
<%= image_tag("engineyard_icon.png", height: '100', width: '100')%>
</div>
