<%= render "mmheader" %>
<div align="center" style="margin-top: 10px;">
<%
  puts " ------ Guess JSP ------------"
%>
<% @feedback_str = @guess.feedback %>
<%= render "mmform" %>
</div>
<%= render "mmfooter" %>