<%= render "mmheader" %>
<% @feedback_str = "Make a guess to get feedback" %>
<%
  puts " ------ Index JSP ------------"
%>
<div align="center" style="margin-top: 10px;">
<%= render "mmform" %>
</div>
<%= render "mmfooter" %>
