<%= render "mmheader" %>
<% @feedback_str = "Make a guess to get feedback" %>
<%
puts " ------ Index JSP ------------"
@color_one = 'pink';
@color_two = 'pink';
@color_three = 'pink';
@color_four = 'pink';
%>
<div align="center" style="margin-top: 10px;">
<%= render "mmform" %>
</div>
<%= render "mmfooter" %>
