<%= render "mmheader" %>
<div align="center" style="margin-top: 10px;">
<h2>Mastermind Game</h2>
<br>Congratulations! You guessed it!<br/><br/>
<%= link_to "Play again", "/guesses/index" %>
<br/>
<div>
<%= render "mmfooter" %>


