<link rel="stylesheet" href="https://unpkg.com/mvp.css">
<style>
body {
  background-image: url('/assets/LightBlueBackground.png');
}
table.quiz td {
    background-clip: padding-box;
    border-radius: 5px;
    background-color: #fffff;
    border: 1px solid #cccccc;
}
</style>
<script>
function changeCellBackground(id, color_value) {
    elem = document.getElementById(id);
    color_str = "";
    if (color_value == "R") {
        color_str = "pink";
    } else if (color_value == "B") {
        color_str = "#99ccff";
    } else if (color_value == "G") {
        color_str = "#99ff99";
    } else if (color_value == "Y") {
        color_str = "#ffffcc";
    } 
    elem.style.background = color_str;
}
</script>

<table width="923px">
 <tbody width="100%">
  <tr><td>
   <%= image_tag("DevSpacesHeader.png", height: '128', width: '923')%>
  </td></tr>
  <tr width="100%">
   <td style="text-align: center;"><b>Welcome to the DevSpaces Challenge Event</b></td>
  </tr>
  <tr width="100%">
   <td style="text-align: center;">